#light-bar{
    display: flex;
    width: fit-content;
    border: 1px solid #1a1d20;
    position: absolute;
    margin-left: 340px;
    margin-top: 250px;
}

#light-bar>.light {
    width: 100px;
    height: 60px;
    border: 1px solid black;
}
#btn-panel{
    position: absolute;
    margin-left: 700px;
    margin-top: 340px;
    width: 100px;
    height: 100px;

}

